<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_moviedataa_path(@moviedataa), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @moviedataa.title %></h2>
  <p><%= @moviedataa.description %></p>
</div>
